/* --------------------------------------------------------------------------
   Estado Inicial da Seção Nossa História (Prevenção de FOUC / Flashes)
   -------------------------------------------------------------------------- */
.our-history-anim {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  will-change: transform, opacity;
}
